LIVEKIT_URL=ws://127.0.0.1:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret
OPENCODE_GO_API_KEY=
COMPOSIO_API_KEY=
MARVI_STT_LANGUAGE=en-US
MARVI_TTS_VOICE=en-Carter_man
BRAVE_SEARCH_API_KEY=
SEARXNG_URL=
MARVI_WORKSPACE_ROOT=
MARVI_MCP_CONFIG=
MARVI_BROWSER=
MARVI_INITIATIVE=
MARVI_ANNOUNCE=
MARVI_ANNOUNCE_VOICE=
MARVI_MIND_PROVIDER=
MARVI_CAMERA_INDEX=
MARVI_SIDECAR_DIR=
MARVI_ACTIVITYWATCH_URL=
MARVI_VLM_BASE_URL=
MARVI_VLM_MODEL=
MARVI_VLM_API_KEY=
MARVI_PROVIDER=
MARVI_OLLAMA_URL=
MARVI_OLLAMA_MODEL=
MARVI_LMSTUDIO_URL=
MARVI_LMSTUDIO_MODEL=
MARVI_LOCAL_OPENAI_URL=
MARVI_LOCAL_OPENAI_MODEL=
OPENCODE_ZEN_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
MARVI_OPENAI_MODEL=
MARVI_ANTHROPIC_MODEL=
MARVI_IDENTITY_DIR=
MARVI_IDENTITY_BUDGET=
MARVI_PROVIDER_CONFIG=
MARVI_OPENCODE_GO_URL=
MARVI_OPENCODE_GO_MODEL=
OPENROUTER_API_KEY=
DEEPINFRA_API_KEY=
DEEPSEEK_API_KEY=
MARVI_CODEX_CLIENT_ID=
MARVI_CLAUDE_CODE_CLIENT_ID=
MARVI_TOKEN_STORE=
